body {
  background-color: #050711;
}

.calculate {
  color: #050711;
  padding: 15px 25px;
  outline: none;
  border-radius: 3px;
  font-weight: bold;
  border: 0;
  margin: 15px 35px 0px 35px;
  font-size: 15px;
  cursor: pointer;
  background-color: #14c488;
}

.recalculate {
  color: #050711;
  padding: 15px 25px;
  outline: none;
  border-radius: 3px;
  font-weight: bold;
  border: 0;
  margin: 15px 35px 0px 35px;
  font-size: 15px;
  cursor: pointer;
  background-color: #e57373;
}

.inputComponent {
  border: 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 300px;
  height: 5vh;
  padding: 1px 1px 1px 10px;
  color: #e9e9f7;
  font-size: 16px;
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
