body {
  background-color: #050711;
}

.green {
  background-color: #14c488;
}
.purple {
  background-color: #6666bd;
}

.light {
  background-color: #e57373;
}

.calculate {
  color: #050711;
  padding: 15px 25px;
  outline: none;
  border-radius: 3px;
  font-weight: bold;
  border: 0;
  margin: 35px 35px 0px 35px;
}

.calculate:hover {
  opacity: 0.9;
}
